extends /_include/_layout
append variables
  - var directory ='/createTableOfContents/'
block css
block js

block body
  main
    h1 目次を自動生成する
    p div#tableOfContentsの中に生成

    #tableOfContents

    #entry
      h2 見出しH2（1）
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo dolorum nam cumque quos dolores amet voluptates perspiciatis, quis, est dolorem quae adipisci. Et totam fugit eum ratione expedita, autem aliquid!

      h2 見出しH2（2）
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo dolorum nam cumque quos dolores amet voluptates perspiciatis, quis, est dolorem quae adipisci. Et totam fugit eum ratione expedita, autem aliquid!

      h3 見出しH3（2-1）
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo dolorum nam cumque quos dolores amet voluptates perspiciatis, quis, est dolorem quae adipisci. Et totam fugit eum ratione expedita, autem aliquid!

      h3 見出しH3（2-2）
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo dolorum nam cumque quos dolores amet voluptates perspiciatis, quis, est dolorem quae adipisci. Et totam fugit eum ratione expedita, autem aliquid!

      h2 見出しH2（3）
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo dolorum nam cumque quos dolores amet voluptates perspiciatis, quis, est dolorem quae adipisci. Et totam fugit eum ratione expedita, autem aliquid!

      h3 見出しH3（3-1）
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo dolorum nam cumque quos dolores amet voluptates perspiciatis, quis, est dolorem quae adipisci. Et totam fugit eum ratione expedita, autem aliquid!

      h3 見出しH3（3-2）
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo dolorum nam cumque quos dolores amet voluptates perspiciatis, quis, est dolorem quae adipisci. Et totam fugit eum ratione expedita, autem aliquid!

      h3 見出しH3（3-3）
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo dolorum nam cumque quos dolores amet voluptates perspiciatis, quis, est dolorem quae adipisci. Et totam fugit eum ratione expedita, autem aliquid!
